*{
   box-sizing: border-box;
}

body{
   background-color:var(--lightBackground); 
   font-family: 'Nunito Sans', sans-serif;
   margin: 0;   
}
/* navegacion */
.navegacion{
   background-color: var(--lightlements);   
   box-shadow: 0px 3px 2px rgba(10, 10, 10,.1); 
   margin-bottom: 1.5em; 
}
.navegacion__flex{
   display: flex;
   justify-content: space-between;
   align-items: center;   
}
.navegacion__title{
   font-size: 21px;
}
.fa-moon{
   margin-right: 5px;
}
.navegacion__button{
   border: none;
   background-color: inherit;
   font-weight: 600;
   outline: none;
   /* cursor: pointer; EN PC */
}
/* navegacion */
/* BUSQUEDA */
.busqueda__flex{
   display: flex;
   flex-direction: column;
   height: 130px;
   /* border: 1px solid #000000;    */
   justify-content: space-between;
   margin-bottom: 1em;
}

.busqueda__campo{
   background-color: var(--lightlements); 
   width: 100%;
   border-radius: 7px;
   padding: 0.4em 1.7em;
   color: var(--DarkInput);
}
.busqueda__input{
   border: none;
   padding: 10px  0 10px 10px ;
   width: 80%;
   margin-left: 5px;
   outline: none;
}
.busqueda__input::placeholder{
   letter-spacing: 0.5px;
}
.busqueda__options{
   width: 60%;
   border-radius: 7px;
   outline: none;
   padding: 1em ;
   border: none;   
}
/* BUSQUEDA */
/* card__paises */

.paises__flex{
   margin: 0px 1em;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.paises__card{
   background-color: var(--lightlements);
   margin: 1.5em 0;
   border-radius: 7px;
   max-width: 301px;
   
}


.paises__header{
   width: 100%;
}

.paises__header > img{
   border-radius: 7px 7px 0px 0px;
   width: 100%;
   
}
.paises__body{
   padding: 1.5em;
}
.paises__name{
   text-transform: capitalize;
   font-size: 19px;
   font-weight: 800;
   margin-top: 10px;
}
.paises__data{
   list-style: none;
   font-weight: 600;
   font-size: 17px;
}
.paises__data> small{
   font-weight: 300;
}
/* card__paises */





.darkBackGround{
   background-color: var(--darkBackground);
}
.dark{
   background-color: var(--darkElements);
   color: var(--lightlements);
   
}