@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import 'details.css';
@import 'mobileStyles.css';
@import 'desktopStyles.css';
:root{
   --darkBackground: rgb(32, 44, 55);
   --darkElements:rgb(43, 57, 69);
   --DarkInput:rgb(133, 133, 133);
   --lightlements:rgb(255, 255, 255);
   
   --lightTex:rgb(17, 21, 23);
   
   --lightBackground:rgb(245, 245, 245);
}

.wrapper{
   width: 90%;
   background-color: transparent;
   margin: 0 auto;
   max-width: 1220px;
}




